{% extends 'prueba/base.html' %}
{% load static %}
{% block titulo %} Descripcion de movimiento {% endblock %}
{% block  css %} <!-- <link rel="stylesheet" href="{% static 'prueba/css/index_style.css' %}">--> {%endblock%}

{% block contenido  %}
<img src="{% static 'prueba/img/Logo_UTFSM.png' %}" alt="Logo" width="100" height="100">
<h1>Descripción de movimiento</h1>

<p class="enunciado">{{ enunciado }}</p>

<div>
    <img class="img_estroboscopico" src="data:image/png;base64,{{graficos_correctos.estroboscopico}}" alt="grafico estroboscopico">
</div>
<p>grafico de distancia vs tiempo</p>
<div>
    <img class="img_dis_t" src="data:image/png;base64, {{graficos_correctos.distancia_tiempo}}">
</div>
<p>grafico de velocidad vs tiempo</p>
<div>
    <img class="img_vel_t" src="data:image/png;base64, {{graficos_correctos.velocidad_tiempo}}">
</div>
<p>grafico de aceleracion vs tiempo</p>
<div>
    <img class="img_ace_t" src="data:image/png;base64,{{graficos_correctos.aceleracion_tiempo}}" >
</div>

<form method="post">
    {% csrf_token %}
    <button type="submit" name="otro" value="1" > otro ejercicio </button>
</form>
{% endblock %}