{% extends 'prueba/base.html' %}
{% load static %}
{% block titulo %} Descripcion de movimiento {% endblock %}
{% block  css %} <link rel="stylesheet" href="{% static 'prueba/css/fis100/Descripcion_de_movimiento_style.css' %}">{%endblock%}

{% block contenido  %}
<div class="logo_header">
    <img src="{% static 'prueba/img/Logo_UTFSM.png' %}" alt="Logo" width="100" height="100">
    <div class="mish">Descripción de movimiento</div>
</div>

{% if mensaje  %}
    <p class="mensaje {{ feedback_clase }}"><strong>{{ mensaje }}</strong></p>
{% endif %}

<p class="enunciado_1">Dado el siguiente grafico estroboscopico:</p>

<img class="scale-up-center" src="data:image/png;base64,{{grafico_estroboscopico}}" alt="grafico estroboscopico">

<hr>
<form method="post">
    {% csrf_token %}
    <h3>{{ enunciado_at }}</h3>
    {% for opcion in opciones_at %}
    <label>
        <div class="graficos">
            <input type="radio" name="respuesta_at" value="{{opcion}}">
            <img   src="data:image/png;base64,{{opcion}}" alt="opcion at" style="width: 400px;">
        </div>
    </label>
    <br>
    {% endfor %}
    <hr>
    {% if at_correcta %}
    <h3>{{ enunciado_vt }}</h3>
    {% for opcion in opciones_vt %}
    <label>
        <div class="graficos">
            <input type="radio" name="respuesta_vt" value="{{opcion}}">
            <img  class="graficos" src="data:image/png;base64,{{opcion}}" alt="opcion vt" style="width: 400px;">
        </div>
    </label>
    <br>
    {% endfor %}
    <hr>
    {% endif %}
    <button class="boton_enviar" type="submit">Comprobar</button>
</form>
<hr>

<form  method="post">
    {% csrf_token %}
    <button class="boton_otro_ejercicio" type="submit" name="otro" value="1" >Otro ejercicio</button>
</form>
{% endblock %}