{% extends 'prueba/base.html' %}
{% load static %}
{% block titulo %} funcion {% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'prueba/css/funcion_style.css' %}">{% endblock %}


{% block contenido  %} 
<img src="{% static 'prueba/img/Logo_UTFSM.png' %}" alt="Logo" width="100" height="100">
<h2>M.I.S.H</h2>
<h3>Acerca del poyecto M.I.S.H</h3>
<h1>Esta es la seccion del funcionamiento de la pagina MISH</h1>

<p> --><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&list=RDdQw4w9WgXcQ&start_radio=1">otra forma de ir al inicio</a><--</p>
<h3>listado de unidades de fis100</h3>
<ol>
    <li></li>
</ol>








<h3>Listado de unidades de fis111</h3>











{% endblock %}