{% extends 'prueba/base.html' %}
{% load static %}
{% block titulo %} index {% endblock %}

{% block  css %} <link rel="stylesheet" href="{% static 'prueba/css/index_style.css' %}"> {%endblock%}

{% block contenido  %}
<img src="{% static 'prueba/img/Logo_UTFSM.png' %}" alt="Logo" width="100" height="100"><!-- la forma es que en src="aqui va la ruta o enlave, "-->
<h2 class="mish"><b>M.I.S.H. </b></h2>
<h1>Diviertete poniendo a prueba tu conocimiento.</h1>

<p>La Metodología Interaciva de Saber Haciendo (M.I.S.H.) es una herramienta pensada para que alumnos de ingeniería jueguen con los conceptos más básicos de la física, enfrentandose a desafíos generados aleatoriamente, ofrenciendo siempre una nueva situacion para resolver.</p>



{% endblock %}