{% extends 'prueba/base.html' %}
{% load static %}
{% block titulo %} Sandbox {% endblock %}

{% block contenido  %} 
<img src="{% static 'prueba/img/Logo_UTFSM.png' %}" alt="Logo" width="100" height="100">
<h2>M.I.S.H</h2>
<h1>Esta es la seccion en donde tu puedes dejar correr tu imaginacion y crear tus planteamientos y situaciones fisicas para asi grficarlas</h1>
<ol>
    <h2>Fiss100</h2>
    <li>Rapidez de cambio</li>
    <li>Vectores</li>
    <li>Triangulo vectorial</li>
    <li>Descripción de movimiento</li>
    <li>Fuerzas y leyes de Newton</li>
</ol>
<ol>
    <h2>Fis111</h2>
    <li>Cinematica de una particula en una y dos dimensiones</li>
    <li>principios de Newoton</li>
    <li>Trabajo, energía cinética y potencial</li>
    <li></li>
</ol>
{% endblock %}