<!--mish/prueba/templates/prueba/templates_sandbox/vectores_sandbox.html-->
{% extends 'prueba/base.html' %}
{% load static %}
{% block titulo %} Rapidez de cambio {% endblock %}
{% block  css %} <!-- <link rel="stylesheet" href="{% static 'prueba/css/index_style.css' %}">--> {%endblock%}

{% block contenido  %}
<h1>Sandbox</h1>
<h2>Vectores</h2>

<form method="post">
    {% csrf_token %}
    <label for="vector_a">Coloca el primer vector:</label>
    <input type="text" name="vector_a" required placeholder="ejemplo(a,b)" value="{{ ejercicio.vector_a_input|default:'' }}">
    <label for="vector_b">Coloca el segundo vector:</label>
    <input type="text" name="vector_b" required placeholder="ejemplo(a,b)" value="{{ ejercicio.vector_b_input|default:'' }}">
    <button type="submit">Graficar</button>
</form>
<hr>

<div id="resultados">
    {%if mensaje%}
        <p><strong>{{mensaje}}</strong></p>
    {% endif %}
    {% if ejercicio.grafico_ini %}
    <h4>Vectores iniciales</h4>
    <img src="data:image/png;base64,{{ejercicio.grafico_ini}}" alt="vectores iniciales" width="600" height="600">
    {% endif %}
    {% if ejercicio.grafico_fi %}
    <h4>Suma vectorial</h4>
    <img src="data:image/png;base64,{{ejercicio.grafico_fi}}" alt="Suma vectorial" width="600" height="600">
    {% endif %}
</div>

{% endblock %}